<div class="wrapper">
  <div class="container bg-white">
    <div class="container-soutenir">
      <h1 class="header text-primary pt-5 text-center">Ajouter un bac</h1>
      <%= render "bins/form", trash: @trash, trashes: @trashes, bin: @bin %>
    </div>
  </div>
</div>
