<div class="form-comment mx-sm-5">
  <%= simple_form_for([ article, comment ], remote: true) do |f| %>
  <%= f.input :author, label: "Auteur" %>
  <%= f.input :content, label: "Commentaire" %>
  <%= f.submit "Commenter" %>
  <% end %>
</div>
