<ul class='list-inline'>
  <% tags.each do |tag| %>
    <li class="list-inline-item mt-4">
      <%= link_to tag, articles_path(tag: tag), class:"tag" %>
    </li>
  <% end %>
  <%= link_to "Supprimer les tags", articles_path, class:"tag" %>
</ul>
