<div class='nested-fields'>
    <%= f.input :priority_level, collection: 1..30, label: "Niveau de priorité de l’action" %>
    <%= f.input :action, label: "Description de l'action" %>
    <%= link_to_remove_association "Supprimer l'action", f %>
</div>
