<div class="container bg-white">
  <h1 class="mt-5 mb-4 header text-primary text-center">DIAGNOSTIC COMPORTEMENTAL INDIVIDUEL</h1>
  <div class="text-center h-100 mt-5 ">
    <p>Vous avez terminé ce formulaire de diagnostic. Vos réponses sont bien enregistrées.</p>
    <p>Merci beaucoup.</p>
    <p>Vous pouvez le modifier jusqu’au 10 février.</p>
    <%= link_to "Retourner a la page DONNEES", donnees_path, class: "btn btn-primary" %>
    <% if Date.today < Date.new(2019, 02, 11) %>
      <%= link_to "Modifier mon formulaire", comportamental_formulaire_path(:page_one), class:"btn btn-outline-primary " %>
    <% end %>
  </div>
</div>
