<p>Bonjour <%= @user.civility %> <%= @user.last_name.upcase %></p>

<p>Votre candidature pour le Défi Zéro Déchet des Pros est confirmée. Bravo pour votre engagement ! </p>

<p>Nous vous indiquerons le 9 janvier 2019 si votre structure est sélectionnée pour y participer.</p>

<p>La première rencontre collective aura lieu le 00 janvier de 00h à 00h à tel endroit.</p>

<p>Notre équipe se tient à votre disposition pour vous aider dans votre candidature.</p>

