<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "poubelle.png", class:"d-block w-100", alt:"First slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Slide 1</h2>
        <p>Explicatioln de l'image 1</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "desk", class:"d-block w-100", alt:"Second slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Slide 2</h2>
        <p>Explicatioln de l'image 2</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "hands", class:"d-block w-100", alt:"Third slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Slide 3</h2>
        <p>Explicatioln de l'image 3</p>
      </div>
    </div>
  </div>
</div>
