<span >
  <%= link_to  "Contact", contact_path, id:"contact-link", class:"btn btn-secondary"%>
</span>

<span class="navbar-secondary" id="logo-navbar-secondary">
  <%= image_tag 'logo.jpg', class:"logo-nav-secondary" %>
</span>
