<script src="https://code.highcharts.com/modules/xrange.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->


<div class="wrapper">
  <div class="container">
    <div class="container-soutenir">
      <h1 class="header text-primary pt-5 text-center">TABLEAU DE BORD</h1>
      <h2 class="green-bg my-4">Production de déchets de fonctionnement</h2>
      <div id='testchart' data-series="<%= @series.to_json %>"></div>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    Highcharts.chart('testchart', {
      chart: {
        type: 'xrange',
        // styledMode: true
      },
      title: {
        text: ''
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: 'Kg / collaborateur·rice / jour moyen'
        }
      },
      series: JSON.parse(document.getElementById("testchart").dataset.series)
    });
  });
</script>

