<div class="wrapper down">
  <div class="container bg-white container-padding">
    <h1 class="pt-5 mb-4 header text-primary text-center">FORMULAIRE DE CANDIDATURE</h1>
    <p>Votre candidature pour le Défi Zéro Déchet des Pros est confirmée. Bravo pour votre engagement !</p>
    <p class="mb-0">Nous vous indiquerons le 9 janvier 2019 si votre structure est sélectionnée pour y participer.</p>
    <p class="mb-0">La première rencontre collective aura lieu le 00 janvier de 00h à 00h à tel endroit.</p>
    <p class="mb-0">Ekolo[geek] se tient à votre disposition pour vous aider dans votre candidature.</p>
  </div>
  <%= render 'shared/footer' %>
</div>
