<div class="wrapper down">
  <div class="container bg-white container-padding">
    <h1 class="pt-5 mb-4 header text-primary text-center">FORMULAIRE DE CANDIDATURE</h1>
    <p>Votre candidature pour le Défi Zéro Déchet des Pros est confirmée. Bravo pour votre engagement !</p>
    <p class="mb-0">Nous vous indiquerons le 9 janvier 2019 si votre structure est sélectionnée pour y participer.</p>
    <p class="mb-0">La première rencontre collective aura lieu le 14 janvier 2019 au matin (horaires à venir) à la tour Laure Gatet de Bordeaux Métropole au <%= link_to "31-41 Cours du Maréchal Juin à Bordeaux", "https://www.google.fr/maps/place/41+Cours+Mar%C3%A9chal+Juin,+33000+Bordeaux/@44.8361863,-0.5813328,14.71z/data=!4m5!3m4!1s0xd5527e9ea19edb3:0x6384a056d1476814!8m2!3d44.8361404!4d-0.5834564?hl=fr", target: :blank, class:"cool-link" %></p>
    <p class="mb-0">Ekolo[geek] se tient à votre disposition pour vous aider dans votre candidature.</p>
  </div>
  <%= render 'shared/footer' %>
</div>
