

<div class="container">
  <p>un truc visuel avec quelques arguments clés cliquables (lien vers l'ancrage dans la page concernée)


  Objectif : réduire vos déchets de fonctionnement de 10%

  Comment :
      • Un suivi de vos données
      • Des rencontres collectives
      • Un suivi individuel

  Pourquoi :

      • cohésion, projet d'équipe
          ◦ ex : mobiliser son équipe autour d’un projet commun, qui contribuera au mieux-vivre dans les locaux.
      • économies, actions faciles, peu d'investissements
          ◦ ex : peu d'investissements et sont rapides à mettre en place. Une meilleure gestion, alliée à une démarche de réduction, permet de diminuer le coût global des déchets.
      • image externe : engagement DD RSE
          ◦ ex : Mettre en valeur votre engagement environnemental et vos actions dans une démarche zéro déchet vous donne un réel avantage concurrentiel.</p>
</div>
