<h1>S'inscrire</h1>
<p> Votre structure est située dans Bordeaux Métropole ? Vous pourrez vous inscrire début décembre.

D'ici là vous pouvez agir de votre côté ! Voici des exemples de gestes que vous pouvez mettre en place :
    • Le guide du zéro déchet au bureau, créé par Zero Waste
    • Le guide pour être éco-responsable au bureau, créé par l'ADEME

Pour rester informé, laissez votre adresse mail

Votre structure n'est pas située sur Bordeaux Métropole ? Vous pouvez organiser un défi sur votre territoire !  Ekolo[geek] vous accompagne et vous fournit les outils pour que vous le fassiez vous-même !

Lien vers contact </p>
