<div class="wrapper down">
  <div class="container">
    <h1 class='text-center pt-5'>Mentions légales et politique de confidentialité</h1>

    <p>L’Association Ekolo[geek], vise à entreprendre toutes les actions allant dans le sens du développement durable et de la protection de l’environnement sur le territoire français et à l’étranger.</p>

    <p>L’association Ekolo[geek], soucieuse des droits des individus, s’engage à protéger la confidentialité, la sécurité et l’exactitude des renseignements personnels qu’elle recueille, utilise ou communique conformément à la législation applicable. </p>

    <p>La présente politique de protection de la confidentialité constitue un énoncé des principes et des lignes directrices concernant la protection des renseignements personnels des individus. </p>


    <h3>Article 1 – Mentions légales</h3>

    <h5>1.1 Site : <%= link_to "defi-zero-dechet-pro.com", "http://www.defi-zero-dechet-pro.com/", target: :blank%></h5>
    <h5>1.2 Editeur : </h5>

    <p class='mb-0'>Société : Ekolo[geek]</p>
    <p class='mb-0'>Statut : association loi 1901, déclaration à la préfecture de la Gironde n°W243002468 le 24/04/2018</p>
    <p class='mb-0'>Siège social :  Maison de la Nature et de l'Environnement, 3 Rue de Tauzia, 33800 Bordeaux.</p>
    <p class='mb-0'>SIRET : 50462256400038</p>
    <p class='mb-0'>E-mail : pauline.r@ekologeek.com</p>
    <p>Téléphone : 06.14.75.57.13</p>



    <h5>1.3 hebergeur : OVH</h5>
    <p class='mb-0'>Société :  OVH</p>
    <p class='mb-0'>Statut : Société par actions simplifiée à associé unique</p>
    <p class='mb-0'>Siège social : 2 rue kellermann BP 80157 59053 ROUBAIX CEDEX 1</p>
    <p class='mb-0'>SIRET : 424 761 419 00045</p>
    <p class='mb-0'>Web : http://www.ovh.com</p>
    <p>Hotline: +33 972 10 10 07</p>

    <h3>Article 2 –Accès au site</h3>
    <p>Le site à pour objet de :</p>
    <ul>
      <li>présenter le Défi Zéro Déchet des Professionnels,</li>
      <li>permettre l'inscription des établissements,</li>
      <li>donner accès aux participants à un compte, sur lequel ils peuvent saisir les données sur leur production de déchets et leur changement de comportement.</li>
    </ul>


    <h3>Article 3 –Contenu du site</h3>

    <p>Toutes les marques, photographies, textes, commentaire, illustrations, images animés ou non, séquences vidéo sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce site, et plus généralement tous les éléments reproduits ou utilisés sur le site, sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</p>

    <p>Ils sont la propriété pleine et entière de l’éditeur ou de ses partenaires. Ainsi, selon l’article L122-4 du code la propriété intellectuelle, toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, sans l’accord de l’association Ekolo[geek], sont strictement interdites.</p>

    <h3>Article 4 –Gestion du site</h3>

    <p>Pour la bonne gestion du site, l’éditeur pourra à tout moment :</p>
    <ul>
      <li>Suspendre, interrompre ou limiter l’accès à tout ou partie du site, réserver l’accès au site, ou à certaines parties du site, à une catégorie déterminée d’internautes ;</li>
      <li>Supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales ou avec les règles de la nétiquette ;</li>
      <li>Suspendre le site afin de procéder à des mises à jour.</li>
    </ul>

    <h3>Article 5 -Responsabilités</h3>

    <p>La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement empêchant l’accès au site ou à une de ses fonctionnalités.
    Le matériel de connexion que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d’attaques virales par internet. Vous êtes par ailleurs seul responsable des sites et données que vous consultez.</p>

    <p>L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :</p>
    <ul>
      <li>Du fait de l’usage du site ou de tout service accessible via Internet ;</li>
      <li>Du fait du non-respect par vous des présentes conditions générales.</li>
    </ul>

    <p>L’éditeur n’est pas responsable des dommages causés à vous même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.</p>
    <p>Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire à raison de votre utilisation du site, il pourra se retourner contre vous pour obtenir l’indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>


    <h3>Article 6 –Liens hypertextes</h3>

    <p>La mise en place par les utilisateurs de tous liens hypertextes vers tout ou partie du site est autorisée par l’éditeur. Tout lien devra être retiré sur simple demande de l’éditeur.</p>
    <p>Toute information accessible via un lien vers d’autres sites n’est pas publiée par l’éditeur. L’éditeur ne dispose d’aucun droit sur le contenu présent dans ledit lien.</p>

    <h3>Article 7 –Cookies</h3>

    <p>Ekolo[geek] vous informe qu'il est susceptible d'utiliser des «cookies» temporaires valables le temps d'une session de consultation du site Internet «www.defi-zero-dechet-pro.com».</p>
    <p>Ces "cookies" sont des données stockées en fichier temporaire internet dans votre ordinateur. Les «cookies» ne nous permettent pas de vous identifier; en revanche, ils enregistrent des informations relatives à la navigation de votre ordinateur sur notre site (l’adresse IP, les pages que vous avez consultées, la date et l'heure de la consultation). Nous utilisons google analytics qui permet de mesurer l’audience du site.</p>
    <p>La durée de vie de ces cookies est de 13 (treize) mois. Vous pouvez à tout moment désactiver les cookies à partir des paramètres de votre navigateur.</p>

    <h3>Article 8 –Loi applicable</h3>
    <p>Les présentes conditions d’utilisation du site sont régies par la loi française et soumises à la compétence des tribunaux du siège social de l’éditeur, sous réserve d’une attribution de compétence spécifique découlant d’un texte de loi ou réglementaire particulier.</p>

    <h3>Article 9 –Contactez-nous</h3>
    <p class="mb-5">Pour toute question, information sur les produits ou sur le site lui même, vous pouvez laissez un message à l’adresse suivante : pauline.r@ekologeek.com</p>
  </div>
  <%= render 'shared/footer' %>
</div>
