<div class="wrapper down">
  <div class="container">
    <h1 class='text-center pt-5'>Mentions légales et politique de confidentialité</h1>

    <p>L’Association Ekolo[geek], vise à entreprendre toutes les actions allant dans le sens du développement durable et de la protection de l’environnement sur le territoire français et à l’étranger.</p>

    <p>L’association Ekolo[geek], soucieuse des droits des individus, s’engage à protéger la confidentialité, la sécurité et l’exactitude des renseignements personnels qu’elle recueille, utilise ou communique conformément à la législation applicable. </p>

    <p>La présente politique de protection de la confidentialité constitue un énoncé des principes et des lignes directrices concernant la protection des renseignements personnels des individus. </p>


    <h3>Article 1 – Mentions légales</h3>

    <h5>1.1 Site : <%= link_to "defi-zero-dechet-pro.com", "http://www.defi-zero-dechet-pro.com/", target: :blank%></h5>
    <h5>1.2 Editeur : </h5>

    <p class='mb-0'>Société : Ekolo[geek]</p>
    <p class='mb-0'>Statut : association loi 1901, déclaration à la préfecture de la Gironde n°W243002468 le 24/04/2018</p>
    <p class='mb-0'>Siège social :  Maison de la Nature et de l'Environnement, 3 Rue de Tauzia, 33800 Bordeaux.</p>
    <p class='mb-0'>SIRET : 50462256400038</p>
    <p class='mb-0'>E-mail : pauline.r@ekologeek.com</p>
    <p>Téléphone : 06.14.75.57.13</p>



    <h5>1.3 hebergeur : OVH</h5>
    <p class='mb-0'>Société :  OVH</p>
    <p class='mb-0'>Statut : Société par actions simplifiée à associé unique</p>
    <p class='mb-0'>Siège social : 2 rue kellermann BP 80157 59053 ROUBAIX CEDEX 1</p>
    <p class='mb-0'>SIRET : 424 761 419 00045</p>
    <p class='mb-0'>Web : http://www.ovh.com</p>
    <p>Hotline: +33 972 10 10 07</p>

    <h3>Article 2 –Accès au site</h3>
    <p>Le site à pour objet de :</p>
    <ul>
      <li>présenter le Défi Zéro Déchet des Professionnels,</li>
      <li>permettre l'inscription des établissements,</li>
      <li>donner accès aux participants à un compte, sur lequel ils peuvent saisir les données sur leur production de déchets et leur changement de comportement.</li>
    </ul>


    <h3>Article 3 –Contenu du site</h3>

    <p>Toutes les marques, photographies, textes, commentaire, illustrations, images animés ou non, séquences vidéo sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce site, et plus généralement tous les éléments reproduits ou utilisés sur le site, sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</p>

    <p>Ils sont la propriété pleine et entière de l’éditeur ou de ses partenaires. Ainsi, selon l’article L122-4 du code la propriété intellectuelle, toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, sans l’accord de l’association Ekolo[geek], sont strictement interdites.</p>

    <h3>Article 4 –Gestion du site</h3>

    <p>Pour la bonne gestion du site, l’éditeur pourra à tout moment :</p>
    <ul>
      <li>Suspendre, interrompre ou limiter l’accès à tout ou partie du site, réserver l’accès au site, ou à certaines parties du site, à une catégorie déterminée d’internautes ;</li>
      <li>Supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales ou avec les règles de la nétiquette ;</li>
      <li>Suspendre le site afin de procéder à des mises à jour.</li>
    </ul>

    <h3>Article 5 -Responsabilités</h3>

    <p>La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement empêchant l’accès au site ou à une de ses fonctionnalités.
    Le matériel de connexion que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d’attaques virales par internet. Vous êtes par ailleurs seul responsable des sites et données que vous consultez.</p>

    <p>L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :</p>
    <ul>
      <li>Du fait de l’usage du site ou de tout service accessible via Internet ;</li>
      <li>Du fait du non-respect par vous des présentes conditions générales.</li>
    </ul>

    <p>L’éditeur n’est pas responsable des dommages causés à vous même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.</p>
    <p>Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire à raison de votre utilisation du site, il pourra se retourner contre vous pour obtenir l’indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>


    <h3>Article 6 –Liens hypertextes</h3>

    <p>La mise en place par les utilisateurs de tous liens hypertextes vers tout ou partie du site est autorisée par l’éditeur. Tout lien devra être retiré sur simple demande de l’éditeur.</p>
    <p>Toute information accessible via un lien vers d’autres sites n’est pas publiée par l’éditeur. L’éditeur ne dispose d’aucun droit sur le contenu présent dans ledit lien.</p>

    <h3>Article 7 –Cookies</h3>

    <p>Ekolo[geek] vous informe qu'il est susceptible d'utiliser des «cookies» temporaires valables le temps d'une session de consultation du site Internet «www.defi-zero-dechet-pro.com».</p>
    <p>Ces "cookies" sont des données stockées en fichier temporaire internet dans votre ordinateur. Les «cookies» ne nous permettent pas de vous identifier; en revanche, ils enregistrent des informations relatives à la navigation de votre ordinateur sur notre site (l’adresse IP, les pages que vous avez consultées, la date et l'heure de la consultation). Nous utilisons google analytics qui permet de mesurer l’audience du site.</p>
    <p>La durée de vie de ces cookies est de 13 (treize) mois. Vous pouvez à tout moment désactiver les cookies à partir des paramètres de votre navigateur.</p>

    <h3>Article 8 –Loi applicable</h3>
    <p>Les présentes conditions d’utilisation du site sont régies par la loi française et soumises à la compétence des tribunaux du siège social de l’éditeur, sous réserve d’une attribution de compétence spécifique découlant d’un texte de loi ou réglementaire particulier.</p>

    <h3>Article 9 –Contactez-nous</h3>
    <p class="mb-5">Pour toute question, information sur les produits ou sur le site lui même, vous pouvez laissez un message à l’adresse suivante : pauline.r@ekologeek.com</p>

    <h3>Article 10 - Protection des données </h3>

    <h5>10.1- Collecte des données</h5>
    <p>Vos données sont collectées par l’association ekolo[geek].</p>
    <p>Une donnée à caractère personnel désigne toute information concernant une personne physique identifiée ou identifiable ; est réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par référence à un nom, un numéro d’identification ou à un ou plusieurs éléments spécifiques, propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.</p>
    <p>Les données fournies par le référent sur son espace représentent son établissement et sont transmises de façon volontaire.</p>
    <p>Ekolo[geek] ne pourra en aucun cas être tenu responsable de l’exactitude des données indiquées.
    Ekolo[geek]  n’est pas voué à intervenir sur les comptes créés par les participants, mais peut être amené à le faire sur demande du référent.</p>


    <h5>10.2- Droit d’accès, de rectification et de déréférencement de vos données</h5>
    <p>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants :</p>
    <p>Le droit d’accès : ils peuvent exercer leur droit d’accès pour connaître les données personnelles les concernant, en écrivant à l’adresse électronique suivante. Dans ce cas, avant la mise en œuvre de ce droit, le site peut demander une preuve de l’identité de l’utilisateur afin d’en vérifier l’exactitude.</p>
    <p>Le droit de rectification : si les données à caractère  personnel détenues par le site sont inexactes, ils peuvent demander la mise à jour des informations.  </p>
    <p>Le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.</p>
    <p>Le droit à la limitation du traitement : les utilisateurs peuvent demander au site de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD</p>
    <p>Le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient  traitées conformément aux aux hypothèses prévues par le RGPD.  </p>
    <p>Le droit à la portabilité : ils peuvent réclamer que le site leur remette des données personnelles qui lui ont fourni pour les transmettre à une nouvelle plateforme. </p>

    <p>Vous pouvez exercer ces droits en nous contactant à l’adresse suivante : pauline.r@ekologeek.com</p>
    <p>Toute demande doit être accompagnée de la photocopie d’un titre d’identité en cours de validité signé et faire mention de l’adresse à laquelle l’éditeur pourra contacter le demandeur. La réponse sera adressée dans le mois suivant la réception de la demande. Ce délai d’un mois peut être prolongé de deux mois si la complexité de la demande et/ou le nombre de demandes l’exigent.</p>

    <p>De plus, et depuis la loi n°2016-1321 du 7 octobre 2016, les personnes qui le souhaitent, ont la possibilité d’organiser le sort de leurs données après leur décès.</p>

    <p>Les utilisateurs peuvent aussi introduire une réglementation auprès de la CNIL sur le site https://www.cnil.fr</p>

    <p>Nous vous recommandons de nous contacter dans un premier temps avant de déposer une réclamation auprès de la CNIL, car nous sommes à votre entière disposition afin de résoudre votre problème.</p>

    <h5>10.3- Utilisation des données</h5>
    <p>Les données collectées lors de l’inscription sont confidentielles.</p>
    <p>Aucune donnée à caractère personnel (notamment noms, coordonnées, ou résultats des personnes) ne peut être divulguée sans demande et accord explicite. Aucune utilisation commerciale ne pourra être faite des données collectées sur le site defi-zero-dechet-pro.com.</p>

    <p>Les données personnelles, collectées auprès des utilisateurs ont pour objectif la mise à disposition des services proposés par l’association, leur amélioration et le maintien d’un environnement sécurité. La base légale des traitements est celle de l’exécution du contrat entre l’utilisateur et l’association.</p>

    <p>Ekolo[geek] se réserve le droit d’utiliser les résultats de l’établissement participant dans sa communication, pour mettre en valeur le Défi et ses participants, et rendre compte des résultats du projet.</p>

    <h5>10.4- Politique de conservation des données</h5>

    <p>L’association conserve vos données pour la durée nécessaire afin de vous fournir ses services ou de vous fournir une assistance.</p>

    <p>Dans la mesure raisonnablement nécessaire requise pour satisfaire aux obligations légales ou réglementaires, régler des litiges, empêcher des fraudes et abus ou appliquer nos modalités et conditions, nous pouvons également conserver certaines de vos informations, si nécessaire, même après que vous ayez fermé votre compte ou que nous n’avons plus besoin de vous fournir des services.</p>



  </div>
  <%= render 'shared/footer' %>
</div>
