<div class="wrapper down">
  <div class="container">
    <h1 class="header text-primary text-center pt-5 mt-5 mb-5">Inscription</h1>
    <p class="text-center">Veuillez activer votre compte pour accéder au site via le lien envoyé par mail (l'envoi par mail peut prendre quelques minutes). </p>
  </div>
  <%= render 'shared/footer' %>
</div>
