<div class='nested-fields'>
    <%= f.input :action, label: false  %>
    <%= f.input :diag_action_comment, placeholder: "description de l'action", label: false%>
    <%= link_to_remove_association "Supprimer l'action", f %>
</div>
