<p>Bonjour <%= @resource.civility %> <%= @resource.last_name.upcase %></p>

<p>Cliquez sur le lien ci-dessous pour configurer votre mot de passe :</p>

<p><%= link_to "Configurer mon mot de passe", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Écologiquement, l'équipe Défi.</p>
<%= devise_image_tag("logo.jpg", alt:"logo") %>
