th {
  padding: 15px 20px;
  background: $secondary;
  color: white;
}

td:first-child {
  font-weight: bold;
}

td {
  text-align: center;
}

tbody:nth-child(even) {
  background: #FFF;
}
tbody:nth-child(odd) {
  background: #CCC;
}

table {
  margin: auto;
}

table.user-array {
  width: 100%;
}

@media screen and (max-width:461px) {

}
@media screen and (max-width: 1400px) {
  table,
  thead,
  tbody,
  tr,
  td {
    display: grid;
    margin: 0.5rem;

  }
}
