.structur-array {
  overflow: scroll;
  max-height: 600px;
}

th {
  padding: 15px 20px;
  background: $secondary;
  color: white;
}

td:first-child {
  font-weight: bold;
}

td {
  text-align: center;
}

tbody:nth-child(even) {
  background: #FFF;
}
tbody:nth-child(odd) {
  background: #CCC;
}

table.user-array {
  width: 100%;
}
