.article {
  margin: 10px 0;
  .card-index {
    position: relative
  }
  .card-title {
    color: $primary;
    &:hover {
      color: $secondary;
    }
  }
  .article-date-texte {
    font-size: 14px;
  }
  .counts {
    font-size: 12px;
    p {
      margin: 0;
    }
  }
  .counts-index {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .card-infos {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .card-img-top {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .card-text {
    margin-bottom: 30px;
    line-height: 100%;
  }
  a {
    text-decoration: none;
    color: $primary;
    &:hover {
      color: rgb(17, 115, 136);
    }
  }
}
.article-index {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 0 15px;
  .card-article-title {
    color: $primary;
    &:hover {
      color: rgb(17, 115, 136);
    }
  }
  a {
    text-decoration: none;
  }
  .article-border-bottom {
    border-bottom: 1px solid rgb(200, 200, 200);
    &:last-child {
      border-bottom: none;
    }
  }
}
