.article {
  margin: 10px 0;
  .card-index {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: relative
  }
  .card-title {
    color: $primary;
    &:hover {
      color: $secondary;
    }
  }
  .counts {
    font-size: 12px;
    p {
      margin: 0;
    }
  }
  .counts-index {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .card-infos {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .card-text {
    margin-bottom: 30px;
    line-height: 100%;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.article-index {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 0 15px;
  .card-article-title {
    color: $primary;
  }
  a {
    text-decoration: none;
  }
  .article-border-bottom {
    border-bottom: 1px solid rgb(200, 200, 200);
    &:last-child {
      border-bottom: none;
    }
  }

}
