.carousel {
  .carousel-inner {
    height: 500px;
    .carousel-item {
      object-position: center !important;
      max-height: 100%;
      max-width: 100%;
    }
    @media (max-height: $tablet) {
        height: 100%;
    }
  }
}
