.message {
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);

  &:last-child{
    border-bottom: none;
  }
  .message-name p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .message-body {
    color: rgb(45, 46, 46);
  }
  &:nth-child(odd) {
    background: rgba(220,224,244,0.4)
  }
}
