.container-pourquoi-2 {
  max-width: 850px;
  margin: auto;
}

.container-ekologeek {
  max-width: 950px;
  margin: auto;
}

.container-soutenir {
  max-width: 900px;
  margin: auto;
}

.container-inscription {
  max-width: 800px;
  margin: auto;
}

.container-padding {
  padding: 0 48px !important;

  @media (max-width: $mobile) {
    padding: 0 25px !important;
  }

}
