.card-flip {

   background: none;
   border: none;
   padding: 0;

   .card {
      backface-visibility: hidden;
      transition: transform 300ms;
      transition-timing-function: linear;
      min-height: 100%;
   }

   .card-size {
    height: 400px;
    min-width: 300px;
   }

   .card-size-small {
    height: 300px;
    min-width: 300px;
   }

   .card-img-top {
    height: 220px;
    background-size: cover;
    background-position: center;
   }

  .card-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
   }

   .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .card:first-of-type {
      tranform: rotateY(0deg);
      .card-title {
        width: 100%;
        background-color: $secondary;
        color: white;
        text-align: center;
      }
   }

   .card:last-of-type {
      transform: rotateY(180deg);
      // Put this in face with the larger content
      position: absolute;
      top: 0;
      display: flex;
      .card-title {
        color: $secondary;
      }
   }

   &:hover {
      .card:first-of-type  {
         transform: rotateY(-180deg);
      }
      .card:last-of-type {
         transform: rotateY(0deg);
      }
   }

   .fact {
    font-size: 20px;
    text-align: center;
    strong {
      color: $primary;
    }
   }

}
