.footer {
  background: $primary;
  z-index: 10;
  height: 100px;

  .footer-link {
    width: 100%;
    color: white;
  }
  #logo-footer {
    background: white;
    padding: 5px;
  }
  a {
    color: white;
  }
  a:hover {
    color: $secondary;
  }

  @media (max-width: $desktop) {
    height: auto;
    padding: 0 !important;

    .ekolo-margin {
      margin: 5px !important;
    }

    .social-links {
      margin: 10px !important;
    }
  }
}
