.navbar {
  width: 100%;
  z-index: 9;
  transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
  position: absolute;
  top: 70px;
  .nav-link {
    color: $light-gray;
    font-weight: bold;
  }
  .home-nav-link {
    color: $light-gray;
    font-size: 15px;
  }
  .logo-nav {
    background-image: image("logo.png");
  }
  .navbar-toggler[data-toggle="collapse"] {
    color: white;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  a .dropdown-item:active {
    font-weight: bold;
  }
  .logo-nav-secondary {
    @media (max-width: $desktop) {
      height: 40px;
    }
  }
  ul li > a {
    .nav-link[data-toggle="dropdown"] {
      @media(max-width: $tablet) {
        display: block;
      }
    }
  }
  @media (max-width: $desktop) {
    top: 40px;
  }
}

#nav_bar {
  background-color: $primary;
  z-index: 12;

  &.animatedMenu{
    background-color: $primary;
    box-shadow: 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
    justify-content: space-around !important;
    position: absolute;
    top: 0;
    height: auto;
    .nav-link {
      color: white;
    }
    #logo {
      width: 100px;
      margin: 0;
      background: white;
      padding: 5px;

    }
    .navbar-logo {
      margin: 0;

    }
    ul {
      align-items: center;
      justify-content: end;
    }
    .home-nav-link svg {
      color: white;
      width: 30px;
    }
    .navbar-toggler[data-toggle="collapse"] {
      color: $primary;
    }
    @media (max-width: $desktop) {
      height: auto;
    }
  }
}

.navbar-secondary {
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 11;
   svg {
     width: 100px;
     padding: 10px;
     margin: 5px;
     background: white;
    @media (max-width: $desktop) {
      width: 50px;
    }
  }
}
.navbar-logo {
  display: none;
}
