.partenaires {

  .card {
    min-height: 100%;

    .card-img-top {
      height: 100px;
      object-fit: scale-down;
      margin-top: 15px;
    }
  }

  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  .call-action {
    text-align: center;

    .btn {
      color: white;
      font-weight: bold;
      font-size: 20px;

      &:hover {
        color: white;
      }
    }
  }

}

