.container {
  background: $light-gray;
}

.wrapper {
  background: $light-gray;

}

.title {
  width: 100%;
  text-align: center;
}

.para-0 {
  p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}

.header {
  text-transform: uppercase;
  font-weight: bold;
}

.list {
  list-style: none;
}

.text {
  text-align: justify;
  text-align-last: left;
}

.illustration {
  img {
    width: 400px;

    @media (max-width: $mobile) {
      width: 300px;
    }
  }
}
