.container {
  background: $light-gray;
}

.bg-white {
  background: white !important;
}

.wrapper {
  background: $light-gray;
  @media only screen
  and (max-width: $mobile)
  and (max-width: $tablet) {
    position: relative;
    top: 120px;
  }
  @media only screen
  and (min-width: $tablet)
  and (min-width: $tablet) {
    position: relative;
    top: 360px;
  }
}

.title {
  width: 100%;
  text-align: center;
}

.para-0 {
  p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}

.header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 43px;
}

.header-padding-pourquoi {
  padding-top: 50px;
  padding-bottom: 25px;
  @media (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
//
.header-padding-comment {
  padding-top: 50px;
  @media (max-width: $tablet) {
    padding-top: 50px;
  }
}
//
.header-padding-comment-image {
    @media (max-width: $tablet) {
      padding-top: 0;
      padding-bottom: 30px;
  }
}

.comment-picture {
  @media (max-width: $tablet) {
    width: 80%;
  }
}

.padding {
  padding-bottom: 50px;
  @media (max-width: $tablet) {
    padding-top: 0;
  }
}

.list {
  list-style: none;
}

.text {
  text-align: justify;
  text-align-last: left;
}

.illustration {
  img {
    width: 400px;
    @media (max-width: $mobile) {
      width: 300px;
    }
  }
}

.green-bg {
  background-color: $secondary;
  color: white;
  display: inline-block;
  padding: 5px 18px;
  margin-bottom: 0;
}

body {
 position: relative;
}

.center {
  text-align: center;
}

.no-margin {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid $secondary;
  margin: auto;
  padding: 0;
  width: 250px;
}

.blue b {
  color: $primary;
}

.citation-small {
  font-size: 16px;
}

.img-home {
  object-fit: cover;
  height: 112px;
}

.newsletter p {
  font-size: 13px;
}

.img-fit {
  object-fit: scale-down;
  height: 100px;
}

.space-around {
  justify-content: space-around
}

.smaller-font {
  font-size: 16px !important;
}
