.container {
  background: $light-gray;
}

.wrapper {
  background: $light-gray;

}
.title {
  width: 100%;
  text-align: center;
}

.image-team {
  width: 100%;

  img {
    width: 100%;
  }
}

.para-0 {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

.header {
  text-transform: uppercase;
  font-weight: bold;
}

.list {
  list-style: none;
}

.text {
  text-align: justify;
  text-align-last: left;
}
