.tag {
  background-color: $blue;
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  border-radius: 16px;
  font-weight: light;

  &:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    background-color: #008aa7;
  }
}

